<div class="search-box">
  <%= form_tag '/search', method: :get do %>
    <%= label_tag :stock_name %>
    <%= text_field_tag :stock_name, params[:stock_name] %>

    <%= label_tag :start_date %>
    <%= date_field_tag :start_date, params[:start_date] %>

    <%= label_tag :end_date %>
    <%= date_field_tag :end_date, params[:end_date] %>

    <%= submit_tag 'Submit' %>
  <% end %>
</div>

<div>
  <% if @data.success? %>
    <div>
      Stock code: <%= @data.code %>
    </div>
    <div>
      Name: <%= @data.name %>
    </div>
    <div>
      Start Date: <%= @data.start_date %>
    </div>
    <div>
      End Date: <%= @data.end_date %>
    </div>

    <div>
      Rate of Return: <%= @data.rate_of_return %>
    </div>

    <table class="table">
      <thead>
        <tr>
          <% @data.column_names.each do |column_name| %>
            <th><%= column_name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @data.dataset_list.each do |data| %>
          <tr>
            <td><%= data.date %></td>
            <td><%= data.open_value %></td>
            <td><%= data.high_value %></td>
            <td><%= data.low_value %></td>
            <td><%= data.close_value %></td>
            <td><%= data.volume %></td>
            <td><%= data.ex_dividend %></td>
            <td><%= data.split_ratio %></td>
            <td><%= data.adj_open %></td>
            <td><%= data.adj_high %></td>
            <td><%= data.adj_low %></td>
            <td><%= data.adj_close %></td>
            <td><%= data.adj_volume %></td>
          </tr>
        <% end %>
      <tbody>
    </table>
  <% end %>
</div>