<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MyStocks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <h1>My Stocks</h1>
      <p>Your best way to get infos about your stocks</p>
      <%= yield %>
    </div>
  </body>
  <footer>
    Made with &hearts; by <a href="http://lucianosousa.net" target="_blank">Luciano Sousa</a>
  </footer>
</html>
